@import '../../styles/colors.scss';

.container-dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;

    .content-dashboard {
        height: calc(100% - 75px);
        background-color: #f5f5f5;

        .grid-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 100%;
            height: 100%;

            .item-card-dashboard {
                width: 33.33%;
                height: 33.33%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .title-card-dashboard {
                font-size: 20px;
                color: #0d461b;
                font-weight: bold;
                text-align: center;
            }

            .desc-card-dashboard {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                margin: 10px 0px;

                .desc-card-loket {
                    display: flex;
                    flex: 1;
                    justify-content: center;
                    font-size: 36px;
                    border-right: 1px solid $primarySoft;
                }

                .desc-card-noAntrian {
                    display: flex;
                    flex: 1;
                    justify-content: center;
                    font-size: 36px;
                    font-weight: bold;
                    border-left: 1px solid $primarySoft;
                }
            }
        }

        .logo-text {
            width: 66.6%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .logo-img {
                width: 150px;
                // height: 100px;
                margin-right: 30px;
            }
        }
    }

    .footer {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $primaryDark;
        color: white;
        text-align: center;
        height: 70px;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;

        .txt-run {
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
