@import '../styles/colors.scss';

@mixin card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 15px 5px rgba(153, 153, 153, 0.5);
    -webkit-box-shadow: 5px 5px 15px 5px rgba(153, 153, 153, 0.5);
    box-shadow: 5px 5px 15px 5px rgba(153, 153, 153, 0.5);
}

.card-dashboard {
    @include card();
    flex-direction: column;
    width: 90%;
    height: 85%;
}

.t1 {
    color: $red;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.t2 {
    color: $primaryDark;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.t3 {
    color: $primaryDark;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.t18b {
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.t40b {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.t12sb {
    font-size: 12px;
    font-weight: 500;
}

.button-login {
    height: 45px;
    width: 100%;
    background-color: $primarySoft;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family: Montserrat;
    border-radius: 5px;
}

.button-logout {
    background-color: white;
    border: 1px solid $errorColor;
    border-radius: 20px;
    padding: 8px 30px;
    color: $errorColor;
    font-weight: bold;
    cursor: pointer;
}

.button-problem {
    height: 45px;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-family: Montserrat;
    border-radius: 5px;
}

.button-control-admin {
    height: 35px;
    // width: 22.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $primaryDark;
    border-radius: 5px;
    color: $primaryDark;
    cursor: pointer;
    font-weight: 500;
    padding: 3px 10px;
    text-align: center;

    &:hover {
        background-color: $primaryDark;
        color: white;
    }
}

.button-control-admin-disabled {
    height: 35px;
    // width: 22.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $primaryDark;
    border-radius: 5px;
    color: $primaryDark;
    // cursor: pointer;
    font-weight: 500;
    padding: 3px 10px;
    text-align: center;
    opacity: 0.5;
}

.button-export {
    background-color: white;
    border-radius: 5px;
    border: 1px solid $primaryDark;
    color: $primaryDark;
    padding: 10px 20px;
    cursor: pointer;
}

.button-yes-red {
    background-color: $errorColor;
    border-radius: 5px;
    // border: 1px solid $errorColor;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}

.button-cancel-white {
    color: black;
    padding: 10px 20px;
    cursor: pointer;
}

.button-yes-export {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    background-color: $primaryDark;
    cursor: pointer;
    padding: 10px 20px;
}

.flexrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexrowbetween {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flexrowaround {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.flexrowevenly {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
