@import '../../styles/colors.scss';
@import '../../styles/global.scss';
@import '../../styles/breakpoints.scss';

.container-admin {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    background-color: #f5f5f5;

    .header-admin {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        position: sticky;
        top: 0;
        padding: 5px 50px;
        z-index: 10;

        @include media('<lgphone') {
            padding: 10px 20px;
        }

        .header-logo {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .header-logo-img {
            width: 40px;
            height: 50px;
            margin-right: 20px;
        }

        .header-logo-text {
            font-size: 18px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
        }
    }

    .content-admin {
        display: flex;
        flex: 1;
        background-color: #f5f5f5;
        justify-content: center;
        // height: 100%;
        flex-direction: column;

        @include media('<lgphone') {
            margin-top: 200px;
        }

        .content-cards {
            display: flex;
            flex-direction: row;
            margin: 40px;

            @include media('<tablet') {
                display: flex;
                flex-direction: column;
                margin-top: 80px;
            }

            .content-cards-1 {
                @include card();
                flex-direction: column;
                width: 55%;
                padding: 20px;

                @include media('<tablet') {
                    width: 90%;
                    padding: 20px;
                }

                .content-cards-1-body {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    // justify-content: center;

                    @include media('<desktop') {
                        flex-direction: column;
                    }

                    .card-info {
                        display: flex;
                        flex: 1;
                        flex-direction: column;
                        // justify-content: center;
                        margin: 0px 5px;
                        // border: 1px solid black;

                        .card-loket {
                            height: 100px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: $primaryDark;
                            font-size: 48px;
                            color: white;
                            font-weight: bold;
                            border-radius: 5px;
                        }

                        .card-loket-disabled {
                            height: 100px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: $primaryDark;
                            font-size: 48px;
                            color: white;
                            font-weight: bold;
                            border-radius: 5px;
                            opacity: 0.5;
                        }
                    }
                }

                .content-cards-1-footer {
                    width: 100%;
                    margin: 10px 0px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    @include media('<lgphone') {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }

            .content-cards-2 {
                width: 45%;
                padding: 0px 0px 0px 20px;
                display: flex;
                flex-direction: column;
                @include media('<tablet') {
                    width: 100%;
                    padding: 0px;
                    margin-top: 40px;
                }

                .content-cards-2-body {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    height: 100%;

                    @include media('<desktop') {
                        flex-direction: column;
                    }

                    .content-cards-2-card {
                        @include card();
                        flex-direction: column;
                        width: 28%;
                        height: 100%;
                        text-align: center;

                        @include media('<desktop') {
                            width: 100%;
                            height: 180px;
                            margin-bottom: 20px;
                        }

                        @include media('<tablet') {
                            height: 180px;
                        }
                    }
                }
            }
        }

        .content-table {
            margin: 0px 40px 0px 40px;
            height: 100%;

            .nodata-table {
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $primaryDark;
            }
        }
    }
}
.dialog-logout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 30px;
    background-color: white;
    border-radius: 5px;

    .desc-dialog-logout {
        text-align: center;
        margin: 20px 0px;
    }
}

.dialog-export {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 30px;
    background-color: white;

    .desc-dialog-export {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 10px;

        .desc-dialog-export-content {
            display: flex;
            flex: 1;
        }

        .desc-dialog-export-button {
            display: flex;
            flex: 1;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 5px 0px;
            background-color: #f5f5f5;
            color: black;
            border: 1px solid $primarySoft;
            font-weight: bold;
            border-radius: 5px;
            height: 35px;

            // padding: 0px 20px;
            .export-input {
                border: none;
                outline: none;
                height: 100%;
                width: 100%;
                text-align: center;
                background-color: #f5f5f5;
            }
        }

        .wrapperFilter-date {
            padding: 0px 10px;
            border: 1px solid #8ba577;
            border-radius: 3px;
            display: flex;
            flex-direction: row;
            background-color: white;
            align-items: center;
            justify-content: center;
            height: 35px;

            .filter-date {
                max-width: 50px;
                padding: 10px 20px 10px 20px;
                outline: none;
                border: none;
                border-radius: 3px;
                align-self: center;

                .react-datepicker__tab-loop .react-datepicker-popper {
                    margin-left: -300px !important;

                    .react-datepicker__triangle {
                        left: 370px !important;
                    }
                }
            }

            .date-code-container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                background-color: #f0f0f0;
                position: absolute;
                left: -105px;
                height: 235px;
                max-height: 235px;
                padding: 15px 15px;
                border: 1px solid #768e7c;
                border-radius: 3px;

                .date-code {
                    cursor: pointer;
                    padding: 4px;
                    border-radius: 3px;
                }
            }
        }
    }
}
